<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Roo Market!</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    {% include 'app10/menu.html' %}

    <!-- Header -->




<section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
  <div class="container">
  
      <h2>Preguntas Frecuentes </h2>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                ¿Cuál es el horario de atención de Roo Market?
              </a>
            </h3>
          </div>
          <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
            <div class="panel-body px-3 mb-4">
              <p>Nuestra página web acepta pedidos las 24 horas del día, sin embargo si pides fuera de los siguientes horarios tu pedido será revisado al día siguiente:</p>
              <ul>
                <li>Lunes a Sábado de 09:00 AM a 10:00 PM</li>
                <li>Domingo de 10:00 AM a 09:00 PM</li>

              </ul>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                ¿Cuáles son los medios de pago disponibles?
              </a>
            </h3>
          </div>
          <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body px-3 mb-4">
              <p>Para compras presenciales contamos con pago en efectivo y todo tipo de tarjetas (crédito y débito), sin embargo para las compras pactadas mediante nuestro sitio web aceptamos pago en efectivo en la entrega o transferencia bancaria</p>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                ¿Cómo funciona el servicio de delivery?
              </a>
            </h3>
          </div>
          <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body px-3 mb-4">
              <p>Primero debe registraste en la sección CREAR USUARIO y luego de eso debe hacer inicio de sesión en la sección INICIAR SESIÓN, luego de que haga esto dispondrá de una sección llamada ¡HAZ TU PEDIDO!, donde debera llenar todos los campos del formulario para así realizar su pedido, tras esto la web le dará un aviso que le indica que su pedido fue realizado con éxito, recuerde que en caso de elegir pago con transferencia bancaria se le hará llegar en un plazo máximo de una hora los datos de transferencia para posterior confirmación y coordinación de la entrega de su pedido</p>
            </div>
          </div>
        </div>
        
        <div class="panel panel-default">
          <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
            <h3 class="panel-title">
              <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                ¿Cuál es el número de contacto?
              </a>
            </h3>
          </div>
          <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
            <div class="panel-body px-3 mb-4">
              <p>Ante cualquier duda comuníquese al +56912345678</p>
            </div>
          </div>
        </div>
      </div>
  
  </div>
</section>


    {% include 'app10/footer.html' %}

</body>
</html>